<section>
    <h3>Contenido</h3>

    <div align="left">
        <p><a href={{ url_for('intro') }}>&square; </a>Introducci&oacute;n al Procesamiento Digital de Im&aacute;genes</p>
        <p><a href={{ url_for('toolbox') }}>&square; </a>El <i>Image Processing Toolbox</i> de <b>Matlab</b></p>
        <p><a href={{ url_for('fourier') }}>&square; </a>La Transformada de Fourier en Procesamiento de Im&aacute;genes</p>
        <p><a href={{ url_for('enhancing') }}>&square; </a>Mejoramiento de im&aacute;genes</p>
        <p><a href={{ url_for('segmentation') }}>&square; </a>Segmentaci&oacute;n</p>
    </div>
</section>