{% extends "template.html" %}

{% block slides %}

<section>
    <section>
        <h3>Procesamiento Digital de Im&aacute;genes</h3>
    </section>

    <section>
        <h3>Profesor</h3>
        <p>Lic. Jorge Del Risco Mart&iacute;nez <br> (jrgdelrisco@gmail.com)</p>
    </section>

    <section>
        <h3>Objetivo fundamental</h3>

        <p>Proporcionar una visi&oacute;n general sobre los modelos matem&aacute;ticos y las herramientas computacionales
           utilizados en el Procesamiento Digital de Im&aacute;genes.</p>
    </section>

    <section>
        <h3>Organizaci&oacute;n del curso</h3>

        <h4 class="fragment">Forma de clases</h4>
        <ul>
            <li class="fragment">Conferencias</li>
            <li class="fragment">Clases pr&aacute;cticas (laboratorios)</li>
        </ul>
        <br><br>
        <h4 class="fragment">Evaluaci&oacute;n</h4>
        <ul>
            <li class="fragment">Participaci&oacute;n en clases</li>
            <li class="fragment">Tareas</li>
            <li class="fragment">Proyecto (seminarios)</li>
            <li class="fragment">Examen final</li>
        </ul>
    </section>
</section>

{% include "contents.html" %}

<section>
    <h3>Bibliograf&iacute;a</h3>
    <ul>
        <li><a href="copy here the link"><i>Digital Image Processing</i></a> (DIP)</li>
        <li><a href="copy here the link"><i>Digital Image Processing Using Matlab</i></a> (DIPUM)</li>
    </ul>
</section>

{% endblock %}